{% extends "layout.html" %}
{% block content %}

<!-- import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div class="analysis-wrapper">
    <h2>Analyysisivu</h2>
    <h3 id="vuoroh3"> Kenenköhän vuoro? </h3>
    <div id="analysis-div">
        <div> 
            <canvas id="myCanvas"></canvas>
            <div id="button-div">
                <button id="prevbutton">Prev</button>
                <button id="nextbutton">Next</button>
            </div>
        </div>
        <div id="moves-div">
            <p id="pos_count_text"> </p>
            <ul id="movelist">

            </ul>
        </div>
    </div>

</div>
<img id="oikeaala" src="../static/images/oikeaala.png" alt="oikeaala" style="display: none;">
<img id="oikeayla" src="../static/images/oikeayla.png" alt="oikeayla" style="display: none;"> 
<img id="vasenala" src="../static/images/vasenala.png" alt="vasenala" style="display: none;"> 
<img id="vasenyla" src="../static/images/vasenyla.png" alt="vasenyla" style="display: none;">
<script src="../static/bitboard.js" charset="utf-8"></script>
<script src="../static/nelio.js" charset="utf-8"></script>
<script src="../static/state.js" charset="utf-8"></script>
<script src="../static/board.js" charset="utf-8"></script>
<script src="../static/analysis.js" charset="utf-8"></script>
{% endblock %}
