<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pentagopark</title>
        <link rel="stylesheet" href="../static/style.css"></link>
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <h2>PENTAGOPARK</h2>
                <ul>
                    <li><a href="/">Etusivu</a></li>
                    <li><a href="/play">Peliaula</a></li>
                    <li><a href="/">Analyysi</a></li>
                    <li><a href="/">Ranking</a></li>
                    <li><a href="/">Profiili</a></li>
                    <li><a href="/">Asetukset</a></li>
                    {% if session.username %}
                    <p>Olet kirjautunut nimellä {{ session.username }}</p>
                    <li><a href="/logout">Kirjaudu ulos</a></li>
                    {% else %}
                    <li><a href="/loginpage">Kirjaudu sisään</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="site">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
