{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class ="login">
        {% if not session.username %}
        <form action="/login" method="POST">
            <p>Tunnus:<br>
            <input type="text" name="username"></p>
            <p>Salasana:<br>
            <input type="password" name="password"></p>
            <small>{{ error }}</small>
            <input id="loginbutton" type="submit" value="Kirjaudu">
        </form>
        <br>
        <form action="/registerpage" method="POST">
            <input id="registerbutton" type="submit" value="Luo uusi käyttäjä">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
