{% extends "layout.html" %}
{% block content %}

<!-- import jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<div class="pelisivuwrapper">
    <h2>Pelisivuuuuuuuuuuuuu</h2>
    <h3 id="vuoroh3"> Kenenköhän vuoro? </h3>
     <canvas id="myCanvas"></canvas>
    <h3 id="peliaikah3"> aika näkymä </h3>
    <div id="chatcontent" class="chatcontent">
        
    </div>
    <input id="textbox" type="text">
    <button id="chatbutton">Send</button>
    <button id="palaabutton" type="button">Palaa aulaan</button> 
</div>
<img id="oikeaala" src="../static/images/oikeaala.png" alt="oikeaala" style="display: none;">
<img id="oikeayla" src="../static/images/oikeayla.png" alt="oikeayla" style="display: none;"> 
<img id="vasenala" src="../static/images/vasenala.png" alt="vasenala" style="display: none;"> 
<img id="vasenyla" src="../static/images/vasenyla.png" alt="vasenyla" style="display: none;">
<script src="../static/nelio.js" charset="utf-8"></script>
<script src="../static/state.js" charset="utf-8"></script>
<script src="../static/board.js" charset="utf-8"></script>
<script src="../static/pelilauta.js" charset="utf-8"></script>
{% endblock %}
